<div class="home-container">
    <header class="home-header">
      <img class="logo" src="assets/SopraHRSoftware logo.webp" alt="Logo de l'entreprise" />
      <h1>Système de gestion des employés</h1>
      
    </header>
  
    <div class="home-content">
      <div class="admin-info">
    
        <img class="admin-img" [src]="currentAdmin?.photo || 'assets/default-photo.png'" alt="admin" />
        <div class="admin-details">
          <h2>{{ currentAdmin?.firstName }} {{ currentAdmin?.lastName }}</h2>
          <p>Email: {{ currentAdmin?.email }}</p>
          <p>Rôle: Expert RH</p>
        </div>
      </div>
        <button class="b" (click)="logout()">Se déconnecter</button>
      
      <div class="C">
      <div *ngIf="congeDetails">
        <p><strong>Id de l'Employé:</strong> {{ congeDetails.user.id}}</p>
        <p><strong>Type de congé:</strong> {{ congeDetails.typeConge }}</p>
        <p><strong>Date de début:</strong> {{ congeDetails.dateDebut }}</p>
        <p><strong>Date de fin:</strong> {{ congeDetails.dateFin }}</p>
        <p><strong>Statut:</strong> {{ congeDetails.status }}</p>
      
       
        <button class="b2" (click)="acceptRequest(congeDetails.id)" *ngIf="congeDetails.status === 'En_attente_de_validation'">
          Accepter
        </button>
        <button class="b2" (click)="rejectRequest(congeDetails.id)" *ngIf="congeDetails.status === 'En_attente_de_validation'">
          Refuser
        </button>
        
        
      </div><a (click)="goToHome()" class="arrow-container">
        <img src="assets/fleche.png" alt="Retour" class="arrow-img"/>
        </a>
    </div></div>  