<div class="home-container">
  <header class="home-header">
    <img class="logo" src="assets/SopraHRSoftware logo.webp" alt="Logo de l'entreprise" />
    <h1>Système de gestion des employés</h1>
    
    <button class="b" (click)="logout()">Se déconnecter</button>
  </header>

  <div class="home-content">
    <div class="admin-info">
      <img class="admin-img" [src]="currentAdmin?.photo || 'assets/default-photo.png'" alt="admin" />
      <div class="admin-details">
        <h2>{{ currentAdmin?.firstName }} {{ currentAdmin?.lastName }}</h2>
        <p>Email: {{ currentAdmin?.email }}</p>
        <p>Rôle: Expert RH</p>
      </div>
    </div>

    <div class="quick-access">
      <div class="button-row">
        
        <button class="btn" routerLink="/add-employee">Ajouter un employé</button>
        <button class="btn" routerLink="/employees">Voir la liste des employés</button>
      </div>

      <div class="button-row2">
        <button class="btn" routerLink="/update-employee">Mettre à jour un employé</button>
        <button class="btn" routerLink="/delete-employee">Supprimer un employé</button>
        <button class="btn" routerLink="/gestionconge">Consulter les demandes de congés</button>
      </div>
    </div>
  </div>
</div>
